.history-list {
  width: min(1100px, 90%);
  margin: 0 auto 5rem;

  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );

  gap: 1.5rem;
}

@media (max-width: 768px) {
  .history-list {
    width: 92%;
    margin-bottom: 2.5rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}